@import 'mixins/reset';

@import 'globals/colors';
@import 'globals/typography';

@import 'mixins/aspect-ratio';
//@import 'mixins/draw-border';

@import 'globals/header';
@import 'globals/navigation';
@import 'globals/footer';

@import 'components/home';
// @import 'components/contact';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: $white;
}
html, body, #root {
  height: 100%;
  padding: 0;
}
#root > .app {
  height: 100%;
  max-width: 1440px;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.img-wrapper {
  max-width: 100%;
  // //height: auto;
  // display: block;
  // border: 1px solid red;
  img {
    width: 100%;
    height: auto;
  }
}


/* --- Input --- */

// input [type="submit"],
// button {
//   @include draw-border($light-black, $white, $base-green);
//   cursor: pointer;
// }
