header.main {
  width: 100%;
  padding: 28px 0;
  background: $base-green;
  z-index: 99;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      display: inline-block;
      flex: 0 0 auto;
      width: 128px;
      height: auto;
      padding-left: 0.5rem;
    }
  }
}
