.nav-primary {
  flex: 0 0 auto;
  ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    li {
      flex: 0 0 auto;
      min-width: 33.3%;
      margin: 0;
      &:before {
        content: "";
        padding: 0;
      }
      a {
        display: inline-block;
        width: 100%;
        color: $black;
        padding: 0.5em;
        text-transform: lowercase;
        cursor: pointer;
        &.active {
          color: $white;
        }
      }
    }
  }
}
