nav.nav-primary {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    li {
      margin: 0;
      &::before {
        content: "";
        padding: 0;
      }
      a {
        display: inline-block;
        padding: 0.5em 1em;
        font-family: 'NeuzeitOffice-Bold';
        color: rgba($white, 0.5);
        text-transform: uppercase;
        transition: color 0.66s ease-out;

        &:hover, &:focus {
          color: $white;
          transition: color 0.33s linear;
          cursor: pointer;
        }
        &:active {
          color: $base-green;
          transition: color 0.1s linear;
        }

        &.active {
          color: $white;
        }
      }
      &:nth-of-type(3) {
        position: relative;
        a {
          @include draw-border($light-black, rgba($white, 0.5), $base-green);
          cursor: pointer;
        }
        /*
        &::after {
          content: "";
          width: 3em;
          height: 1.5em;
          background-color: $black;
          position: absolute;
          left: 4em;
        }
        */
      }
    }
  }
}
