
#splash {
  background: $base-green;
  .row {
    height: 100%;
    padding: 4em 0;
    align-items: center;
    flex-wrap: wrap-reverse;
    @media only screen and (max-width : 48em) {
      padding: 0;
    }
    > div {
      height: 100%;
      display: flex;
      padding-top: 2em;
      padding-bottom: 2em;
      @media only screen and (max-width : 48em) {
        padding-top: 0;
      }
    }
  }
  .lead-text {
    h1 {
      font-size: 3.157em;
      @media only screen and (max-width : 64em) {
        font-size: 2.369em;
      }
      @media only screen and (max-width : 48em) {
        font-size: 2.369em;
        font-size: 1.777em;
        padding-bottom: 2em;
        text-align: center;
      }
      @media only screen and (max-width : 22em) {
        font-size: 1.333em;
      }
    }
  }
  .splash-graphic {
    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 288px;
      height: 288px;
      border-radius: 50%;
      background: $white;
      overflow: hidden;
      @media only screen and (max-width : 48em) {
        width: 216px;
        height: 216px;
      }
      @media only screen and (max-width : 22em) {
        width: 144px;
        height: 144px;
      }
      .splash-graphic {
        position: absolute;
        width: 66.6%;
        margin: 0 auto;
        opacity: 0;
      }
      .splash-graphic-01 {
        animation-name: toptobottom-01;
        animation-duration: 12s;
        animation-iteration-count: infinite;
      }
      .splash-graphic-02 {
        animation-name: toptobottom-02;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-delay: 4s;
      }
      .splash-graphic-03 {
        animation-name: toptobottom-03;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-delay: 8s;
      }
      @keyframes toptobottom-01 {
        0% {
          opacity: 0;
          transform: translateY(-120%);
        }
        11% {
          opacity: 1;
          transform: translateY(0);
        }
        22% {
          opacity: 1;
          transform: translateY(0);
        }
        33% {
          opacity: 0;
          transform: translateY(133.3%);
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes toptobottom-02 {
        0% {
          opacity: 0;
          transform: translateY(-120%);
        }
        11% {
          opacity: 1;
          transform: translateY(0);
        }
        22% {
          opacity: 1;
          transform: translateY(0);
        }
        33% {
          opacity: 0;
          transform: translateY(133.3%);
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes toptobottom-03 {
        0% {
          opacity: 0;
          transform: translateY(-120%);
        }
        11% {
          opacity: 1;
          transform: translateY(0);
        }
        22% {
          opacity: 1;
          transform: translateY(0);
        }
        33% {
          opacity: 0;
          transform: translateY(133.3%);
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}


.home {
  #services {
    padding: 4em 0 6em;
    position: relative;
    p {
      font-size: 1.33em;
    }
    span {
      display: block;
      font-family: "NeuzeitOffice-Bold";
      font-size: 1.5em;
      padding: 0.66em 0;
    }
    &::after {
      content: "";
      width: 100%;
      height: 20px;
      display: block;
      background: $pattern-dot-green;
      position: absolute;
      bottom: 0;
    }
  }

  #work {
    padding: 4em 0 6em;
    p {
      font-size: 1.333em;
    }
    .col {
      padding: 0;
    }
    .work-item {
      width: 100%;
      display: inline-block;
      position: relative;
      border: 8px solid $white;
      .label {
        position: absolute;
        top: 1em;
        left: 1.5em;
        margin-right: 1.5em;
        h4, span {
          font-size: 1em;
          padding: 0.5em 0;
        }
        &.light {
          color: $white;
        }
      }
    }
    @media only screen and (max-width : 48em) {
      .work-item {
        height: 450px;
        .react-aspect-ratio-placeholder {
          height: 450px;
        }
        &.work-item-03 {
          border-top: 8px solid $white;
        }
        .label {
          background-color: rgba($base-green, 0.75);
          background-color: rgba($black, 0.75);
          padding: 0.5em;
          h4 {
            color: $white;
            padding-top: 0;
          }
          span {
            color: $white;
          }
        }
      }
    }
    @media only screen and (max-width : 30em) {
      .work-item {
        height: 300px;
        .react-aspect-ratio-placeholder {
          height: 300px;
        }
        &.work-item-03 {
          border-top: 8px solid $white;
        }
      }
    }

    // BUG : Tighten alignment of elements, due to blank 4px artifact below the --aspect-ratio function, unavoidable magic numbers...
      .work-item-03 {
        top: -28px;
        border-top: 16px solid $white;
      }
      .work-item-04 {
        margin-top: -32px;
      }
      .work-item-05,
      .work-item-06 {
        margin-top: -4px;
      }
    // ------------------------- //

  }

  #contact {
    background: $pattern-dot-green;
    padding: 2.5em 1em 2em;
    margin: 0 0 6em;
    .shoutout {
      font-family: "NeuzeitOffice-Bold";
      font-size: 3.157em;
      margin-bottom: 0;
      /* Contact Temporary :: Responsive */
      @media only screen and (max-width : 48em) {
        font-size: 6vw;
        a {
          word-break: break-all;
        }
      }
      @media only screen and (max-width : 30em) {
        font-size: 1.333em;
      }
    }
    .contact-form {
      padding: 3em 0 0;
      .form-item {
        margin: 0 0 1em;
        label {
          font-family: "NeuzeitOffice-Bold";
          text-transform: uppercase;
          font-size: 1em;
          line-height: 1.5;
          span {
            font-size: 0.75em;
            position: relative;
            top: -0.125em;
            color: rgba($black, 0.3);
          }
        }
        input,
        textarea {
          width: 100%;
          color: $black;
          background-color: $white;
          border: 2px solid $white;
          font-family: monospace;
          font-size: 2em;
          padding: 0.5em;
          padding: 0.5em 0.33em 0.5em;
          transition: border 0.75s ease-out;
          &:focus {
            border: 2px solid $base-green;
            box-shadow: none;
            outline: none;
            transition: border 0.5s ease-out;
          }
          &:active {
            border: 2px solid $base-green;
            transition: border 0.5s ease-out;
          }
        }
        &.contact-message textarea {
          height: 6em;
        }
        .FormInput {
          position: relative;
          &.-hasError {
            input, textarea {
              border: 2px solid $red;
              transition: border 0.33s linear;
            }
            input + div {
              position: absolute;
              bottom: 0;
              right: 0.75em;
            }
            textarea + div {
              position: absolute;
              bottom: 0.5em;
              right: 0.75em;
              font-family: "NeuzeitOffice-Italic";
            }
            .FormError {
              color: $red;
              font-family: "NeuzeitOffice-Italic";
              text-transform: none;
            }
          }
        }
      }
      button[type="submit"] {
        padding: 1em 1.5em 0.9em;
        color: $black;
        background-color: $base-green;
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0;
        margin-bottom: 1em;
        transition: all 0.5s ease-out;
        &:hover {
          cursor: pointer;
          background-color: lighten($base-green, 10%);
          transition: all 0.22s linear;
          outline: 0;
        }
        &:focus {
          color: $white;
          outline: 0;
        }
        &:active {
          color: $white;
          background-color: darken($base-green, 2.5%);
        }
      }
      .row {
        width: 100%;
      }
      .contact-alt {
        p {
          margin: 0.5em 0;
        }
        a {
          color: $black;
          font-size: 1.5em;
          &:hover, &:focus {
            color: $base-green;
            transition: all 0.33s linear;
          }
          &:active {
            color: darken($base-green, 2.5%);
          }
        }
      }
    }
  }
}
